{% extends 'master.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<body class="alt-menu sidebar-noneoverflow">
    <!-- BEGIN LOADER -->
    <div id="load_screen"> <div class="loader"> <div class="loader-content">
        <div class="spinner-grow align-self-center"></div>
    </div></div></div>
    <!--  END LOADER -->


    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container sidebar-closed " id="container">

        
        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">

                <div class="row layout-top-spacing">

                    <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                        <div class="widget widget-two">
                            <div class="row">
                                <div class="col">
                                    <img class="img-thumbnail" width= 140px height = auto src="{%static 'img/SetarehHotel.png' %}">
                                </div>
                                <div class="col-10">
                                    <a class="weatherwidget-io" href="https://forecast7.com/en/32d6551d67/isfahan/" data-label_1="ISFAHAN" data-label_2="WEATHER" data-icons="Climacons Animated" data-theme="original" >ISFAHAN WEATHER</a>
                                    <script>
                                    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                        <div class="widget widget-one">
                            <div class="row">
                                {% for cl in clock %}
                                <div class="col-sm">
                                    <h5>{{cl.title}}</h5>
                                    <iframe src="{{cl.address}}" frameborder="0" width="110" height="110"></iframe>
                                </div>
                                {%endfor%}
                            </div>
                        </div>
                    </div>


                    <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                        <div class="widget widget-chart-three">
                            <div class="widget-content">
                                <div class="row">
                                    <div class="col-sm">
                                        <video autoplay >
                                        <source src="{% static 'mov/SetarehHotel.mp4'%}" type="video/mp4">
                                    </div>
                                    <div class="col-sm">
                                    <!-- casoual start-->
                                    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                                        
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img class="d-block w-100" src="{{activeslider.image.url}}" alt="{{activeslider.title}}">
                                                <div class="carousel-caption d-none d-sm-block">
                                                    <h3>{{activeslider.title}}</h3>
                                                    <h5>{{activeslider.body}}</h5>
                                              </div>
                                            </div>
                                            {% for slide in newslider %}
                                            <div class="carousel-item">
                                                <img class="d-block w-100" src="{{slide.image.url}}" alt="{{slide.title}}">
                                                <div class="carousel-caption d-none d-sm-block">
                                                    <h3>{{slide.title}}</h3>
                                                    <h5>{{slide.body}}</h5>
                                                </div>
                                            </div>
                                            {%endfor%}
                                        </div>
                                        
                                    </div>

                                    <!-- Casoual Ended-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
                        <div class="widget widget-activity-three">

                            <div class="row" id="cancel-row">
                
                                <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                                    <div class="widget-content widget-content-area br-6">
                                        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <div class="table-responsive mb-4 mt-4">
                                                    <table id="zero-config" class="table table-bordered" style="width:100%;">
                                                        <thead>
                                                            <tr>
                                                                <th>Room Type</th>
                                                                <th>Rate</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for room in roomrateen %}
                                                            <tr>
                                                                <td>{{room.roomType}}</td>
                                                                <td>{{room.roomRate|intcomma}}</td>
                                                            </tr>
                                                            {%endfor%}
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <h6 style="color: #1b55e2;">Vat will be included on invoice</h6>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="table-responsive mb-4 mt-4">
                                                <table id="zero-config" class="table table-bordered" style="width:100%; text-align: right; font-family: iran;">
                                                    <thead>
                                                        <tr>
                                                            <th>قیمت</th>
                                                            <th>نوع اتاق</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for room in roomratefa %}
                                                        <tr style="text-align: right; font-family: iran;">
                                                            <td>{{room.roomRate|intcomma}}</td>
                                                            <td>{{room.roomType}}</td>
                                                        </tr>
                                                        {%endfor%}
                                                    </tbody>
                                                </table>
                                            </div>
                                            <h6 style="color: #1b55e2; font-family: tahoma; text-align: right;">به نرخ های فوق ارزش افزوده مصوب اضافه می گردد</h6>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>        
                    </div>
                    </div>

                    <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
                        <div class="widget widget-card-one">
                            <div class="widget-content">

                                <div class="media">
                                    <div class="w-img">
                                        <img style="width: 50px; height: 50px; border-radius: 50%;" src="{% static 'img/www.png'%}" alt="avatar">
                                    </div>
                                    <div class="media-body">
                                        <h6>setarehhotel.com</h6>
                                    </div>
                                    <div class="w-img">
                                        <img style="width: 50px; height: 50px; border-radius: 50%;"src="{% static 'img/ecommerce.png'%}" alt="avatar">
                                    </div>
                                    <div class="media-body">
                                        <h6>asemanreserve.ir</h6>
                                    </div>
                                    <div class="w-img">
                                        <img style="width: 50px; height: 50px; border-radius: 50%;"src="{% static 'img/instagram.png'%}" alt="avatar">
                                    </div>
                                    <div class="media-body">
                                        <h6>#setarehhotel</h6>
                                    </div>
                                    <div class="w-img">
                                        <img style="width: 50px; height: 50px; border-radius: 50%;"src="{% static 'img/whatsapp.png'%}" alt="avatar">
                                    </div>
                                    <div class="media-body">
                                        <h6>+989108931940</h6>
                                    </div>
                                    <div class="w-img">
                                        <img style="width: 50px; height: 50px; border-radius: 50%;"src="{% static 'img/telegram.png'%}" alt="avatar">
                                    </div>
                                    <div class="media-body">
                                        <h6>#hotelsetareh</h6>
                                    </div>
                                    <div class="w-img">
                                        <img style="width: 50px; height: 50px; border-radius: 50%;"src="{% static 'img/phone.png'%}" alt="avatar">
                                    </div>
                                    <div class="media-body">
                                        <h6>+983132207060</h6>
                                    </div>
                                </div>

<!--
                                <div class="media">
                                    <div class="w-img">
                                        <img src="{% static 'img/websiteqr.png'%}" width="124" height="124" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
                                        </div>
                                        <div class="media-body">
                                            <h6></h6>
                                        </div>
                                        <div class="w-img">
                                        <img src="{% static 'img/booking.png'%}" width="124" height="124" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
                                        </div>
                                        <div class="media-body">
                                            <h6></h6>
                                        </div>
                                        <div class="w-img">
                                        <img src="{% static 'img/instagramqr.png'%}" width="124" height="124" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
                                        </div>
                                        <div class="media-body">
                                            <h6></h6>
                                        </div>
                                        <div class="w-img">
                                        <img src="{% static 'img/whatsappqr.png'%}" width="124" height="124" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
                                        </div>
                                        <div class="media-body">
                                            <h6></h6>
                                        </div>
                                        <div class="w-img">
                                            <img src="{% static 'img/telegramqr.png'%}" width="124" height="124" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
                                            </div>
                                            <div class="media-body">
                                                <h6></h6>
                                            </div>
                                            <div class="w-img">
                                                <img src="{% static 'img/phoneqr.png'%}" width="124" height="124" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
                                                </div>
                                                <div class="media-body">
                                                    <h6></h6>
                                                </div>

                                    </div>
                                -->

                                <div class="media">
                                    <div class="w-img">
                                        <img style="width: 50px; height: 50px; border-radius: 50%;"src="{% static 'img/address.png'%}" alt="avatar">
                                    </div>
                                        <div class="media-body">
                                            <h6>Hafez ST, Naghshe-Jahan Sq,Isfahan, IRAN</h6>
                                            <h6>اصفهان-میدان نقش جهان - خیابان حافظ - هتل ستاره</h6>
                                        </div>
                                </div>
                            <marquee class="GeneratedMarquee" direction="left" scrollamount="10" behavior="scroll">Scrolling text...</marquee>
                        </div>
                    </div>


                    

                    

                </div>

            </div>
        </div>
        <!--  END CONTENT AREA  -->

    </div>
    <!-- END MAIN CONTAINER -->

</body>
{%endblock%}